@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #fafafa;
  --foreground: #262626;
}

.dark {
  --background: #18181b;
  --foreground: #e4e4e7;
}

/* Esto es para la preferencia del sistema */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #18181b;
    --foreground: #e4e4e7;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
